<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/image/bullslogo-removebg.ico" type="image/x-icon">
    <title>inicial FRC #9460</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/base.css">
</head>

<body>
    <!--navbar-->
    <nav class="navbar bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" href="https://www.instagram.com/steelbullsfrc/">
                <img src="/frc-9460/assets/image/bullslogo-removebg.png" alt="Bootstrap" width="100" height="100" >
            </a>
            <a class="nav-link active" aria-current="page" href="index.html">Pagina inicial</a>
            <a class="nav-link active" aria-current="page" href="mascote.html">Mascote</a>
            <a class="nav-link active" aria-current="page" href="equipe.html">Equipe</a>
            <a class="nav-link active" aria-current="page" href="frc.html">FRC</a>
            <a class="nav-link active" aria-current="page" href="#">Sobre nós</a>
            <a class="nav-link active" aria-current="page" href="#">O que</a>
        </div>
    </nav>
</body>

      <p>Sob regras estritas, recursos limitados, e a orientação de mentores engenheiros, professores, gestores, pais, ex-alunos etc, equipes com mais de 15 estudantes projetam, constroem e programam robôs para realizar tarefas desafiadoras em uma arena cheia de competidores.

        Além disso, eles ainda precisam arrecadar fundos, desenvolver uma marca para seu time, adquirir habilidades de trabalho em equipe e envolver sua comunidade por meio da ciência e tecnologia. Durante esse processo, os participantes desenvolvem habilidades técnicas mas também interpessoais, como liderança e comunicação.
        
        Ao concluirem o Ensino Médio, os estudantes são elegíveis a aplicar para 80 milhões de dólares em bolsas de estudo universitárias.
        
        “É o mais próximo da engenharia do mundo real que um aluno pode chegar.” – FIRST®</p>

</html>